body {
  font-family: $font-family-base !important;
  font-size: $font-size-base;
}

div, p {
  font-family: $font-family-paragraph !important;
}

h1, h2, h3, h4 {
  font-family: $font-family-heading !important;
}

pre {
  font-family: $font-family-monospace !important;
  display: block !important;
}

code {
  font-family: $font-family-monospace !important;
}
